<!DOCTYPE html>
<html lang="ko">
<head>
    <title th:text="${roomName}"></title>
    <link href="/css/chat-room.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>
<div class="chat-container">
    <div class="chat-header">
        <h1 th:text="${roomName}"></h1>
        <!-- root page로 이동 -->
        <a href="/" id="exitRoom" class="btn btn-danger">나가기</a>
    </div>

    <div class="chat-log">
        <table id="conversation" class="table">
            <thead>
            <tr>
                <th>Chat Log</th>
            </tr>
            </thead>

            <tbody id="chatLog">
            </tbody>

        </table>
    </div>

    <div class="chat-input">
        <form id="submit-form">
            <div class="input-group">
                <input type="text" id="text" class="form-control" placeholder="Input text here...">
                <button id="publish" class="btn btn-primary">Chat</button>
            </div>
        </form>
    </div>

    <!-- thymeleaf to js -->
    <script>const roomId = [[${roomId}]];</script>
    <script src="/js/chat-room.js"></script>
</div>
</body>
</html>